{% extends 'layouts/banner.html' %}
{% load static i18n %}
{% load bootstrap_pagination %}


{% block banner_content %}
    {% if object_list %}
        <h1 class="text-secondary font-weight-bold">Qiziqarli rasmlar</h1>
        {% for post in object_list %}
            {% include 'widgets/post.html' with post=post %}
        {% endfor %}
        {% bootstrap_paginate page_obj range=10 show_prev_next="true" show_first_last="false" %}
    {% else %}
        <h1 class="text-secondary font-weight-bold">Birorta ham maqola topilmadi</h1>
    {% endif %}
{% endblock %}