{% load static %}
{% load i18n %}
{% get_available_languages as LANGUAGES %}
{% get_current_language as LANGUAGE_CODE %}
{% load helpers %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GAG</title>
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
<nav class="navbar navbar-light border d-flex">
    <div class="container">
        <a class="navbar-brand" href="{% url 'main:index' %}">GAG</a>
        {% if user.is_authenticated %}
            <div class="nav-item dropdown ml-auto">
                <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
                    <img class="rounded-circle cover user-avatar" src="{{ user.avatar }}" alt="">
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'client:profile' %}">{% trans 'Profil' %}</a>
                    <a class="dropdown-item" href="{% url 'client:logout' %}">{% trans 'Chiqish' %}</a>
                </div>
            </div>
            <a href="{% url 'main:upload' %}" class="btn btn-primary rounded-pill"><i
                    class="bi bi-upload"></i>{% trans 'Yuklash' %}</a>
        {% else %}
            <a href="{% url 'client:login' %}" class="btn text-secondary ml-auto mr-3">{% trans "Tizimga kirish" %}</a>
            <a href="{% url 'client:registration' %}"
               class="btn btn-primary rounded-pill">{% trans "Ro'yxatdan o'tish" %}</a>
        {% endif %}
        <div class="nav-item dropdown">
            <a class="nav-link lang_link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
                {% if LANGUAGE_CODE == "uz" %}
                    🇺🇿
                {% else %}
                    🇷🇺
                {% endif %}
            </a>
            <div class="dropdown-menu">
                {% for row in LANGUAGES %}
                    <a class="btn" href="{{ request.get_full_path|konvert:row.0 }}">{{ row.1 }}</a>
{#                    {% if row.0 != LANGUAGE_CODE %}#}
{#                        <a class="btn" href="{{ request.get_full_path|konvert:row.0 }}">{{ row.1 }}</a>#}
{#                    {% else %}#}
{#                        <a class="btn" href="{{ request.get_full_path|konvert:row.0 }}">{{ row.1 }}</a>#}
{#                    {% endif %}#}
                {% endfor %}
            </div>
        </div>
    </div>
</nav>
{% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="{{ message.tags }} alert-dismissible fade show">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    </div>
{% endif %}
{% block content %}{% endblock %}

<script src="{% static 'vendor/jquery-3.5.1.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>
</body>
</html>