{% extends 'layouts/base.html' %}
{% load crispy_forms_filters %}

<div class="container">
    {% block content %}
        <div class="row">
            <div class="col-6 offset-lg-3">
                <div class="card">
                    <div class="card-header">{{ request.title }}</div>
                    <form action="{% url 'client:registration' %}" method="post" enctype="multipart/form-data">
                        <div class="card-body">
                            {% csrf_token %}
                            {{ form | crispy }}
                        </div>
                        <div class="card-header d-flex">
                            <button type="submit" class="btn btn-primary ml-auto">{{ request.title }}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endblock %}
</div>